.container {
  padding: var(--spacing-lg);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px;
}

.file {
  color: var(--highlight-5);
}

.file strong {
  color: var(--highlight-9);
}

.tabs {
  display: flex;
  align-items: center;
}

.tab {
  padding: 8px 12px;
  border-bottom: 2px solid transparent;
  font-weight: 600;
  font-size: 14px;
  color: var(--highlight-5);
  cursor: pointer;
}

.tabActive {
  border-bottom-color: var(--highlight-9);
  color: var(--highlight-9);
}

.entry {
  background-color: white;
  border: 1px solid var(--highlight-0);
  border-radius: 8px;
  padding: 24px;
  margin-top: -2px;
}

.notFound {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--highlight-3);
  font-size: 14px;
}
