.label {
  display: block;
  color: var(--highlight-3);
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.subLabel {
  color: var(--highlight-9);
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.table {
  border: 1px solid var(--highlight-0);
  border-radius: 8px;
}

.tableRow {
  display: flex;
  align-items: center;
  color: var(--highlight-9);
  border-bottom: 1px solid var(--highlight-0);
}

.tableRow:hover {
  background-color: var(--highlight);
}

.table .tableRow:last-child {
  border-bottom: 0 none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.tableHeader {
  color: var(--highlight-3);
  font-weight: 600;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.tableCell {
  font-size: 14px;
  padding: 12px 24px;
  width: 50%;
}

.labelGroup {
  display: flex;
  flex-wrap: wrap;
}

.labelItem {
  width: 50%;
  margin-bottom: 8px;
}

.failure {
  color: var(--failure);
}

.success {
  color: var(--success);
}
