.container {
  padding: var(--spacing-sm) var(--spacing-lg);
  color: white;
  background-color: var(--highlight-8);
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand h3 {
  margin-left: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.logout {
  border: 0 none;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
}
