.container {
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid var(--border-weak);
  cursor: pointer;
}

.icon {
  border-radius: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--info);
  color: white;
}

.fileName {
  color: var(--highlight-9);
  font-size: 16px;
}

.fileSize {
  color: var(--highlight-3);
  font-size: 12px;
}

.download {
  color: var(--highlight-3);
}
