.buttonGroup {
  display: flex;
  align-items: center;
}

.buttonGroup > span {
  color: var(--highlight-3);
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 6px 16px;
  background-color: var(--highlight);
  border: 1px solid var(--highlight-0);
  border-radius: 4px;
  color: var(--highlight-9);
  font-weight: 500;
}

.input {
  display: none;
  visibility: hidden;
}

.browse {
  color: var(--info);
}
